.left {
    margin-left: 10px;
}

.header-title {
    font-size: 2.5rem; /* Diminuir tamanho da frase */
    line-height: 1.2;
    margin-bottom: 10px;
}

.header-subtitle {
    font-size: 1.5rem; /* Diminuir subtítulo */
    margin-bottom: 20px;
}

.header-content {
    padding-top: 50px; /* Ajustar espaçamento para melhor visualização do fundo */
}